<% content_for :title do %>
  Game Master's Companion
<% end %>

<div class="container">
  <form class="" action="/<%= @campaign.slug %>/enemies" method="post">
    <h2>Add a new Enemy</h2>

    <div class="form-group login">
      <div class="row">
        <div class="col-md-8"
          <label for="Category">Creature Type</label>
          <input type="text" class="form-control" name="enemy[category]" id="enemy_category"    placeholder="Type">
        </div>
        <div class="col-md-4"
          <label for="CR">Creature Rating</label>
          <input type="text" class="form-control" name="enemy[cr]" id="enemy_cr"    placeholder="CR">
        </div>
      </div>
    </div>
    <div class="form-group login">
      <div class="row">
        <div class="col-md-4"
          <label for="AC">Armor Class</label>
          <input type="text" class="form-control" name="enemy[ac]" id="enemy_ac"    placeholder="AC">
        </div>
        <div class="col-md-4"
          <label for="HP">Hit Points</label>
          <input type="text" class="form-control" name="enemy[hp]" id="enemy_hp"    placeholder="HP">
        </div>
        <div class="col-md-4"
          <label for="pp">Passive Perception</label>
          <input type="text" class="form-control" name="enemy[passive_perception]" id="enemy_pp"    placeholder="Perception">
        </div>
      </div> <!-- End of Row -->
    </div>
    <div class="form-group login">
      <label for="Damage">Damage</label>
      <input type="text" class="form-control" name="enemy[damage]" id="enemy_damage"    placeholder="Damage">
    </div>
    <div class="form-group login">
      <label for="Stats">Stats</label>
      <input type="text" class="form-control" name="enemy[stats]" id="enemy_stats"    placeholder="Stats">
    </div>
    <div class="form-group login">
      <label for="Notes">Notes</label>
      <br>
      <textarea name="enemy[notes]" class="form-control" rows="4" style="min-width: 100%"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
