html {
  height: 100%;
}

.fixed-header {
  background-image: url("../img/congruent_outline.png");
}

#quill {
  max-width:4%;
  max-height: 4%;
  float: left;
}

#page-title {
  font-family: 'Macondo', cursive;
  color: #f2f2f2;
  float: left;
}
/* color: rgb(91, 154, 255) */


body {
  height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background: rgba(194,214,229,1);
background: -moz-linear-gradient(top, rgba(194,214,229,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(194,214,229,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(194,214,229,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(194,214,229,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(194,214,229,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(194,214,229,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2d6e5', endColorstr='#ffffff', GradientType=0 );
}

.login {
  width: 40%;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.boxit {
  padding: 10px;
  padding-left: 20px;
  border: 1px solid red;
  background-image: url("../img/concrete_seamless.png");
}
/* background-image: url("../img/hexellence.png"); */

.thin_box {
  padding: 20px 30px;
  background-image: url("../img/paper.jpg");
  background-size: cover;
  -webkit-background-origin:border;
}

.scroll-log {
  height: 390px;
  width: 250px;
  margin-top: 20px;
  margin-left: 10px;
  padding: 20px 30px;
  background-image: url("../img/paper.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-background-origin:border;
}

.border-left {
  border-left: : 1px solid black;
}

.underline {
  text-decoration: underline;
}

#display {
  height:205px;padding:4px;border:1px solid black;background-image: url("../img/concrete_seamless.png");font:16px/26px Athelas, Garamond, Serif;overflow:auto;
}
