<% content_for :title do %>
  Game Master's Companion
<% end %>

<div class="container">
  <form class="" action="/<%= @campaign.slug %>/characters" method="post">
    <h2>Add a new character</h2>
    <div class="radio">
      <label>
        <input type="radio" name="character[is_player]" id="is_player" value="true"  checked>
        PC
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="character[is_player]" id="is_player" value="false">
        NPC
      </label>
    </div>
    <div class="form-group login">
      <div class="row">
        <div class="col-md-8"
          <label for="Name">Name</label>
          <input type="text" class="form-control" name="character[name]" id="character_name"    placeholder="Name">
        </div>
        <div class="col-md-4"
          <label for="XP">Experience</label>
          <input type="text" class="form-control" name="character[xp]" id="char_xp"    placeholder="XP">
        </div>
      </div>
    </div>
    <div class="form-group login">
      <div class="row">
        <div class="col-md-4"
          <label for="AC">Armor Class</label>
          <input type="text" class="form-control" name="character[ac]" id="char_ac"    placeholder="AC">
        </div>
        <div class="col-md-4"
          <label for="HP">Hit Points</label>
          <input type="text" class="form-control" name="character[hp]" id="char_hp"    placeholder="HP">
        </div>
        <div class="col-md-4"
          <label for="pp">Passive Perception</label>
          <input type="text" class="form-control" name="character[passive_perception]" id="char_pp"    placeholder="Perception">
        </div>
      </div> <!-- End of Row -->
    </div>
    <div class="form-group login">
      <label for="Stats">Stats</label>
      <input type="text" class="form-control" name="character[stats]" id="character_stats"    placeholder="Stats">
    </div>
    <div class="form-group login">
      <label for="Notes">Notes</label>
      <br>
      <textarea name="character[notes]" class="form-control" style="min-width: 100%"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
