<% content_for :title do %>
  Home Page
<% end %>
<% content_for :quill do %>
  ../img/quill.png
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h3>Your Campaigns</h3>
    </div>
    <div class="col-md-4">
      <h3><a href="/campaigns/new">Start a New Campaign!</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <dl><% current_user.campaigns.reverse.each do |c| %>
        <dt><a href="/campaigns/<%= c.slug %>"><%= c.name %></a></dt>
        <dd>&ensp;-<%= c.setting %></dd>
        <dd><%= c.notes %></dd>
        <br>
        <% end %>
      </dl>
    </div>
    <div class="col-md-4">
      <p>What should I put here, pictures of cats?</p>
    </div>
  </div>
</div>
