<% content_for :title do %>
  City Encounter Generator
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>
        Random City Encounter Generator
      </h1>
      <div id="display"> </div>
      <br>
      <button onclick="generate()">Generate</button>
    </div>
  </div>
</div>
