<% content_for :title do %>
  City Encounter Generator
<% end %>
<% content_for :quill do %>
  img/quill.png
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="title">
        Random City Encounter Generator
      </h1>
      <p>Playing a d20 campaign in a fantasy setting? We know how you roll. Our random encounter generator will provide you with the base content for a combat or non-combat city encounter running approximately 30 minutes. Click generate encounter below to see where your adventure will take you!  </p>
      <div id="display"> </div>
      <br>
      <button onclick="generate()">Generate</button>
    </div>
  </div>
</div>
