<% content_for :title do %>
  Home Page
<% end %>

<div class="container">
  <h2>Welcome to the game master's companion, <%= @user.username %></h2>

  <h3><a href="/campaigns/new">Start a New Campaign!</a></h3>

  <dl><% current_user.campaigns.each do |c| %>
    <dt><a href="/campaigns/<%= c.slug %>"><%= c.name %></a></dt>
    <dd><%= c.notes %></dd>
    <br>
    <% end %>
  </dl>


  <a href="/logout">Logout</a>
</div>
