<% content_for :title do %>
  Home Page
<% end %>

<h2>Welcome to the game master's companion, <%= @user.username %></h2>

<dl><% current_user.campaigns.each do |c| %>
  <dt><a href="#"><!-- link to campaign show page --><%= c.name %></a></dt>
  <dd><%= c.notes %></dd>
<% end %>
</dl>
<a href="/logout">Logout</a>
